<header class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img class="profile-picture" src="/images/viking_{{ profile.gender }}.jpg" alt="Picture of {{ profile.gender}} viking">
      </div>
      <div class="col-md-6 col-md-offset-2">
        <h1>{{ profile.User.username }}</h1>
        <h3>{{ profile.age }} years old, lives {{profile.Location.distance}} miles from {{ profile.Location.City.name }} </h3>
        {{#if canEdit}}
          <a href="{{ editProfilePath profile.id }}"><button class="btn btn-primary">Edit Profile</button></a>
        {{/if}}
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>About Me</h2>
      <p>{{ profile.aboutMe }}</p>
      <h2>Talents</h2>
      <p>{{ profile.talents }}</p>
      <h2>Favorite Things</h2>
      <p>{{ profile.favorites }}</p>
      <h2>Why Message Me?</h2>
      <p>{{ profile.whyMessage }}</p>
    </div>
    <div class="col-md-3 col-md-offset-1 basic-info">
      <h3>Basic Info</h3>
      <p>{{ profile.gender }}</p>
      <p>{{ profile.maritalStatus }}</p>
      <p id="height">{{ profile.height }}</p>
      <p>{{ profile.bodyType }}</p>
      {{#if profile.kids}}
        <p>Kids: Yes</p>
      {{else }}
        <p>Kids: No</p>
      {{/if}}
      <p>{{ profile.occupation }}</p>
    </div>
  </div>
</div>